<% status, friendship = current_user.get_friendship user %>
<% if status == :friends %>
  <p>You are friends with this person!</p>
  <%= form_with model: friendship, method: :delete do |form| %>
    <%= form.submit "Remove friend", class: "button is-danger is-small" %>
  <% end %>
<% elsif status == :sent_friendship %>
  <p>You sent this person a friend request!</p>
  <%= form_with model: friendship, method: :delete do |form| %>
    <%= form.submit "Delete friend request", class: "button is-warning is-small" %>
  <% end %>
<% elsif status == :received_friendship %>
  <p>You received a friend request from this person!</p>
  <%= form_with model: friendship do |form| %>
    <%= form.submit "Accept friend request", class: "button is-info is-small" %>
  <% end %>
  <%= form_with model: friendship, method: :delete do |form| %>
    <%= form.submit "Delete friend request", class: "button is-warning is-small" %>
  <% end %>
<% else %>
  <p>You are not friends with this person.</p>
  <%= form_with model: friendship do |form| %>
    <%= form.hidden_field :friend_id, value: user.id %>
    <%= form.submit "Send a friend request", class: "button is-primary is-small" %>
  <% end %>
<% end %>