<div class="media">

  <div class="media-left">
    <%= link_to user do %>
      <%= render "shared/profile_image", user: user, size: 64 %>
    <% end %>
  </div>

  <div class="media-content">

    <%= link_to user, class: "has-text-dark" do %>
      <strong><%= user.name %></strong>
      <span class="has-text-grey"><%= user.email %></span>
    <% end %>

    <br>

    <%= yield %>

  </div>

</div>