<div class="media">

  <div class="media-left">
    <%= link_to user do %>
      <%= render "shared/profile_image", user: user, size: 64 %>
    <% end %>
  </div>

  <div class="media-content">

    <%= link_to user, class: "has-text-dark" do %>
      <strong><%= user.email %></strong>
    <% end %>

    <br>

    <% if user == current_user %>
      <p>This is your profile!</p>
    <% else %>
      <%= render "friend_buttons", user: user %>
    <% end %>

  </div>

</div>