<div class="box">
  <h3 class="subtitle is-3">
    <strong><%= @user.name %></strong>
    <span class="has-text-grey"><%= @user.email %></span>
    <%= "(Yourself!)" if current_user == @user %>
  </h3>
  <div class="media">
    <div class="media-left">
      <%= render "shared/profile_image", user: @user, size: 200 %>
    </div>
    <div class="media-content">
      <% if current_user == @user %>
        <%# friend requests if viewing own page %>

        <% unless @user.received_friendships.empty? %>
          <h4 class="subtitle is-4 mb-2">Incoming friend requests:</h4>
          <% @user.received_friendships.includes(:user).each do |fs| %>
            <%= render "user_row", user: fs.user do %>
              <%= link_to friend_path(fs.user_id), method: :patch do %>
                <button class="button is-info is-small">Accept friend request</button>
              <% end %>
              <%= link_to friend_path(fs.user_id), method: :delete, data: { confirm: "Decline this friend request?" } do %>
                <button class="delete is-pulled-right"></button>
              <% end %>
            <% end %>
          <% end %>
          <br>
        <% end %>

        <% unless @user.sent_friendships.empty? %>
          <h4 class="subtitle is-4 mb-2">Outgoing friend requests:</h4>
          <% @user.sent_friendships.includes(:friend).each do |fs| %>
            <%= render "user_row", user: fs.friend do %>
              <%= link_to friend_path(fs.friend_id), method: :delete, data: { confirm: "Remove this friend request?" } do %>
                <button class="delete is-pulled-right"></button>
              <% end %>
            <% end %>
          <% end %>
          <br>
        <% end %>

      <% else %>
        <%# friend buttons if viewing other's page %>

        <h4 class="subtitle is-4 mb-2">Friend status:</h4>
        <%#= render "friend_buttons", user: @user %>
        <% if current_user.friends.include? @user %>
          <p>You are friends with this person!</p>
          <div class="block">
            <%= render "friend_button", mode: :remove_friend, user: @user do %>
              <button class="button is-danger is-small">Remove friend</button>
            <% end %>
          </div>
        <% elsif current_user.sent_friendships(return_users: true).include? @user %>
          <p>You sent this person a friend request!</p>
          <div class="block">
            <%= render "friend_button", mode: :remove_request, user: @user do %>
              <button class="button is-danger is-small">Delete friend request</button>
            <% end %>
          </div>
        <% elsif current_user.received_friendships(return_users: true).include? @user %>
          <p>You received a friend request from this person!</p>
          <div class="block">
            <%= render "friend_button", mode: :accept_request, user: @user do %>
              <button class="button is-info is-small">Accept friend request</button>
            <% end %>
            <%= render "friend_button", mode: :remove_request, user: @user do %>
              <button class="button is-danger is-small">Delete friend request</button>
            <% end %>
          </div>
        <% else %>
          <p>You are not friends with this person.</p>
          <div class="block">
            <%= render "friend_button", mode: :send_request, user: @user do %>
              <button class="button is-primary is-small">Send friend request</button>
            <% end %>
          </div>
        <% end %>
      <% end %>

      <%# friend list %>
      <h4 class="subtitle is-4 mb-2">Friends:</h4>
      <div class="block">
        <% if @user.friends.empty? %>
          <p>No friends yet!</p>
        <% elsif @user == current_user %>
          <% @user.friends.each do |friend| %>
            <%= render "user_row", user: friend do %>
              <%= render "friend_button", mode: :remove_friend, user: friend do %>
                <button class="delete is-pulled-right"></button>
              <% end %>
            <% end %>
          <% end %>
        <% else %>
          <% @user.friends.each do |friend| %>
            <%= render "user_row", user: friend %>
          <% end %>
        <% end %>
      </div>

      <%# list posts if is friend with this user %>
      <% if current_user.friends.include? @user %>
        <h4 class="subtitle is-4 mb-2">Posts:</h4>
        <% if @user.posts.empty? %>
          <p>This user has no posts!</p>
        <% else %>
          <% @user.posts.each do |post| %>
            <%= render "shared/post", post: post %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
