<div class="box">
  <h3 class="subtitle is-3">
    <strong>User:</strong>
    <%= @user.email %>
    <%= "(Yourself!)" if current_user == @user %>
  </h3>
  <div class="media">
    <div class="media-left">
      <%= render "shared/profile_image", user: @user, size: 200 %>
    </div>
    <div class="media-content">
      <% if current_user == @user %>
        <%# friend requests if viewing own page %>
        <% unless @user.received_friendships.empty? %>
          <h4 class="subtitle is-4 mb-2">Incoming friend requests:</h4>
          <% @user.received_friendships.includes(:user).each do |fs| %>
            <%= render "user_row", user: fs.user %>
          <% end %>
          <br>
        <% end %>
        <% unless @user.sent_friendships.empty? %>
          <h4 class="subtitle is-4 mb-2">Outgoing friend requests:</h4>
          <% @user.sent_friendships.includes(:friend).each do |fs| %>
            <%= render "user_row", user: fs.friend %>
          <% end %>
          <br>
        <% end %>
      <% else %>
        <%# friend buttons if viewing other's page %>
        <h4 class="subtitle is-4 mb-2">Friend status:</h4>
        <%= render "friend_buttons", user: @user %>
        <br>
      <% end %>

      <%# friend list %>
      <h4 class="subtitle is-4 mb-2">Friends:</h4>
      <ul>
        <% if @user.friends.empty? %>
          <li>No friends yet!</li>
        <% else %>
          <% @user.friends.each do |friend| %>
            <li><%= render "user_row", user: friend %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
