<div class="columns">
  <div class="column is-3">
    <div class="box">
      <%= render "devise/shared/links" %>
    </div>
  </div>

  <div class="column">
    <div class="box">
      <h2 class="title is-3">Forgot your password?</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%# email field %>
        <div class="field">
          <div class="label">
            <%= f.label :email %>
          </div>
          <div class="control">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
          </div>
        </div>

        <div class="control">
          <%= f.submit "Send me reset password instructions", class: "button is-warning" %>
        </div>
      <% end %>
    </div>
  </div>

</div>
