<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <p class="subtitle is-3">
        <strong class="has-text-primary">Rail</strong>book
      </p>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="main-navbar">
      <%# three lines for the navbar burger icon %>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="main-navbar" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "Home", root_path, class: "navbar-item" %>

      <%= link_to "Users", users_path, class: "navbar-item" %>
    </div>

    <div class="navbar-end">
      <% if user_signed_in? %>
        <%# list friend requests if any %>
        <% unless current_user.received_friendships.empty?%>
          <div class="navbar-item has-dropdown is-hoverable">
            <%= link_to current_user, class: "navbar-link" do %>
              <p>
                <strong><%= current_user.received_friendships.count %></strong>
                friend requests
              </p>
            <% end %>

            <div class="navbar-dropdown">
              <% current_user.received_friendships(return_users: true).each do |friend| %>
                <div class="navbar-item level">
                  <div class="level-left">
                    <%= link_to friend.name, friend %>
                  </div>
                  <div class="level-right ml-3">
                    <%= render "users/friend_button", mode: :accept_request, user: friend do %>
                      <button class="button is-info is-small">Accept</button>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>

        <%# link to own profile %>
        <div class="navbar-item has-dropdown is-hoverable">
          <%= link_to current_user, class: "navbar-link" do %>
            <%= render "shared/profile_image", user: current_user, size: 32 %>
            <span class="block ml-4">
              <%= current_user.name %>
            </span>
          <% end %>

          <div class="navbar-dropdown">
            <%= link_to "View profile", current_user, class: "navbar-item" %>
            <%= link_to "Edit profile", edit_user_registration_path, class: "navbar-item" %>
          </div>
        </div>

        <%# sign out button %>
        <div class="navbar-item">
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "button is-light" %>
        </div>
      <% else %>
        <div class="navbar-item">
            <div class="buttons">
              <%= link_to "Sign up", new_user_registration_path, class: "button is-primary has-text-weight-bold" %>
              <%= link_to "Log in", new_user_session_path, class: "button is-light" %>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</nav>