<div class="columns">
  <div class="column is-3">
    <div class="box">
      <%= render "devise/shared/links" %>
    </div>
  </div>

  <div class="column">
    <div class="box">
      <h2 class="title is-3">Log in</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%# email field %>
        <div class="field">
          <div class="label">
            <%= f.label :email %>
          </div>
          <div class="control">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
          </div>
        </div>

        <%# password field %>
        <div class="field">
          <div class="label">
            <%= f.label :password %>
          </div>
          <div class="control">
            <%= f.password_field :password, autocomplete: "current-password", class: "input" %>
          </div>
        </div>

        <%# remember me checkbox %>
        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.label :remember_me, class: "checkbox" do %>
              <%= f.check_box :remember_me %>
              Remember me
            <% end %>
          </div>
        <% end %>

        <div class="control">
          <%= f.submit "Log in", class: "button is-primary" %>
        </div>
      <% end %>
    </div>
  </div>
  
</div>


