<div>
  <strong>User:</strong>
  <%= @post.user.email %>
</div>


<div>
  <strong>Content:</strong>
  <%= @post.content %>
</div>

<div>
  <h3>Like</h3>
  <% like_status, like_rel = @post.get_user_like current_user %>
  <% if like_status %>
    <p>You like this post! &lt;3</p>
    <%= form_with model: like_rel, method: :delete do |form| %>
      <%= form.hidden_field :post_id, value: @post.id %>
      <%= form.submit "Unlike post" %>
    <% end %>
  <% else %>
    <p>You don't like this post...</p>
    <%= form_with model: like_rel do |form| %>
      <%= form.hidden_field :post_id, value: @post.id %>
      <%= form.submit "Like post" %>
    <% end %>
  <% end %>
</div>

<div>
  <h3>Comments:</h3>
  <ul>
    <% @post.comments.each do |comment| %>
      <li>
        <strong><%= comment.user.email %></strong>:
        <%= comment.content %>
        <% if comment.user == current_user %>
          <%= link_to "Delete", comment, method: :delete %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <% a = Comment.new %>
  <%= form_with model: a do |form| %>
    <%= form.text_field :content %>
    <%= form.hidden_field :post_id, value: @post.id %>
    <%= form.submit %>
  <% end %>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
