<!DOCTYPE html>
<html>
  <head>
    <title>Railbook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render("shared/navbar") %>
    <div id="notifications" class="container">
      <%#= render("shared/notification", message: "Test notification", color: :info) %>
      <%= render("shared/notification", message: notice, color: :info) if notice %>
      <%= render("shared/notification", message: alert, color: :danger) if alert %>
    </div>
    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
